/F1Simulator/build/
/F1Simulator/dist/
/F1Simulator/nbproject/private/
/F1Simulator_grapich/build/
/F1Simulator_grapich/dist/
/F1Simulator_grapich/nbproject/private/
/F1Simulator_graphic/build/
/F1Simulator_graphic/dist/
/F1Simulator_graphic/nbproject/private/